@import "~milligram-sass"

main
  height: inherit

body
  background-color: black

#paper
  background-color: white

div#app
  height: 100%
  cursor: pointer
  color: white
  background-color: #272822

input
  background-color: white !important
  z-index: 99

rect.active
  stroke: rgb(255, 0, 0)
